@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

:root {
  --color1: #624ce0;
  --color2: #e8effc;
  --color3: #f5ef45;
  --color4: #1b1c30;
  --color5: #f46c95;
  --size1: 2px;
  --size2: 4px;
  --size3: 6px;
  --size4: 8px;
  --size5: 10px;
  --size6: 14px;
  --size7: 18px;
  --size8: 20px;
}

body {
  background: var(--color2);
  color: var(--color1);
  font-family: 'Libre Franklin', sans-serif;
  padding: var(--size6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* > * {
  margin: 6px;
}

h1 {
  /* font-family: 'Calistoga', cursive; */
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  color: var(--color4);
}

.timer-container {
  height: 75px;
  padding: 6px;
  background-color: var(--color1);
  color: var(--color2);
  display: flex;
  align-items: center;
  justify-content: center;
}

#break-label,
#session-label {
  font-size: 18px;
}

.timer-container,
#timer {
  width: 350px;
}

#timer {
  height: 300px;
  padding: 6px;
  background-color: var(--color4);
  color: var(--color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timer-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

#time-left {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: var(--size6);
}

footer a {
  text-decoration: none;
  color: var(--color1);
}

footer a:hover {
  background: var(--color3);
}
