@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;900&display=swap');

:root {
  --color1: #624ce0;
  --color2: #e8effc;
  --color3: #f5ef45;
  --color4: #1b1c30;
  --color5: #f46c95;
  --size1: 2px;
  --size2: 4px;
  --size3: 6px;
  --size4: 8px;
  --size5: 10px;
  --size6: 14px;
  --size7: 18px;
  --size8: 20px;
}

body {
  background: var(--color2);
  color: var(--color1);
  font-family: 'Libre Franklin', sans-serif;
  padding: var(--size6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

* > * {
  margin: 8px;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  color: var(--color4);
}

h3 {
  font-size: 25px;
  font-weight: 400;
}

/* SET TIME */

.setting-container {
  width: 350px;
  height: 75px;
  padding: 3px;
  background-color: var(--color1);
  color: var(--color2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-container > * {
  margin: 3px;
  padding: 3px;
}
.setting-description {
  width: 80px;
}

.setting-length {
  width: 2ch;
  margin-right: 2ch;
}

#break-label,
#session-label {
  font-size: 16px;
}

/* TIMER DISPLAY */

#timer {
  height: 300px;
  padding: 6px;
  background-color: var(--color4);
  color: var(--color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timer-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

#time-left {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: var(--size6);
}

footer a {
  text-decoration: none;
  color: var(--color1);
}

footer a:hover {
  background: var(--color3);
}
